* {
  font-family: iransansx;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ca8100;
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/public/imgs/backgroud.webp);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position-x: 80%;
  background-blend-mode: multiply;
  background-color: #cac7c7;
}


@media screen and (min-width: 768px) {
  .bg-image {
    background-position-x: 100%;
    width: 60%;
  }
}